
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body {
    height: 100vh;
    width: 100vw;
}
.mainbody{
    width: 100%;
    height: 100%;
}
.box {

    width:454px;
    height: 220px;
    border: 5px solid grey;

}
.for-practice {
    height: 150px;
}

